@mixin heading($colorName) {
  outline: 3px !important;
  outline-color: var($colorName) !important;
  outline-style: solid !important;
}

body.highlight-headings-body {
  h1 {
    @include heading(--color-h1);
  }

  h2 {
    @include heading(--color-h2);
  }

  h3 {
    @include heading(--color-h3);
  }

  h4 {
    @include heading(--color-h4);
  }

  h5 {
    @include heading(--color-h5);
  }

  h6 {
    @include heading(--color-h6);
  }
}
